In [1]:
%matplotlib inline
import pandas as pd
import seaborn as sbn
sbn.set()

In [2]:
highs = pd.DataFrame(columns=('date','high'))

In [23]:
highs.head()

Empty DataFrame
Columns: [date, high]
Index: []

In [3]:
for m in range(1,13):
    if m < 10:
        high = pd.read_table('shtmax0'+str(m)+'.txt',sep="\s+",header=None)
        monthstr = '0'+str(m)
    else:
        high = pd.read_table('shtmax'+str(m)+'.txt',sep="\s+",header=None)
        monthstr = str(m)

    for (i,row) in high.iterrows():
        year = row[0]
        day = 0
        for c in row:
            if day > 0:
                if day < 10:
                    daystr = '0' + str(day)
                else:
                    daystr = str(day)

                date = pd.to_datetime(str(year)+monthstr+daystr,format="%Y%m%d")
                newrow = pd.DataFrame({'date':[date],'high':[c]})
                highs = pd.concat([highs,newrow])
            day += 1

In [29]:
highs

         date  high
0  1893-01-01   -99
0  1893-01-02   -99
0  1893-01-03   -99
0  1893-01-04   -99
0  1893-01-05   -99
0  1893-01-06   -99
0  1893-01-07   -99
0  1893-01-08   -99
0  1893-01-09   -99
0  1893-01-10   -99
0  1893-01-11   -99
0  1893-01-12   -99
0  1893-01-13   -99
0  1893-01-14   -99
0  1893-01-15   -99
0  1893-01-16   -99
0  1893-01-17   -99
0  1893-01-18   -99
0  1893-01-19   -99
0  1893-01-20   -99
0  1893-01-21   -99
0  1893-01-22   -99
0  1893-01-23   -99
0  1893-01-24   -99
0  1893-01-25   -99
0  1893-01-26   -99
0  1893-01-27   -99
0  1893-01-28   -99
0  1893-01-29   -99
0  1893-01-30   -99
..        ...   ...
0  2012-12-02    51
0  2012-12-03    65
0  2012-12-04    61
0  2012-12-05    43
0  2012-12-06    46
0  2012-12-07    45
0  2012-12-08    39
0  2012-12-09    39
0  2012-12-10    32
0  2012-12-11    27
0  2012-12-12    45
0  2012-12-13    44
0  2012-12-14    46
0  2012-12-15    44
0  2012-12-16    42
0  2012-12-17    30
0  2012-12-18    31
0  2012-12-19    34
0  2012-12-20    33
0  2012-12-21    26
0  2012-12-22    32
0  2012-12-23    30
0  2012-12-24    23
0  2012-12-25    20
0  2012-12-26    22
0  2012-12-27    24
0  2012-12-28    26
0  2012-12-29    24
0  2012-12-30    25
0  2012-12-31    22

[43890 rows x 2 columns]

In [6]:
lows = pd.DataFrame(columns=('date','low'))

In [7]:
for m in range(1,13):
    if m < 10:
        low = pd.read_table('shtmin0'+str(m)+'.txt',sep="\s+",header=None)
        monthstr = '0'+str(m)
    else:
        low = pd.read_table('shtmin'+str(m)+'.txt',sep="\s+",header=None)
        monthstr = str(m)

    for (i,row) in low.iterrows():
        year = row[0]
        day = 0
        for c in row:
            if day > 0:
                if day < 10:
                    daystr = '0' + str(day)
                else:
                    daystr = str(day)

                date = pd.to_datetime(str(year)+monthstr+daystr,format="%Y%m%d")
                newrow = pd.DataFrame({'date':[date],'low':[c]})
                lows = pd.concat([lows,newrow])
            day += 1

In [8]:
lows

         date  low
0  1893-01-01  -99
0  1893-01-02  -99
0  1893-01-03  -99
0  1893-01-04  -99
0  1893-01-05  -99
0  1893-01-06  -99
0  1893-01-07  -99
0  1893-01-08  -99
0  1893-01-09  -99
0  1893-01-10  -99
0  1893-01-11  -99
0  1893-01-12  -99
0  1893-01-13  -99
0  1893-01-14  -99
0  1893-01-15  -99
0  1893-01-16  -99
0  1893-01-17  -99
0  1893-01-18  -99
0  1893-01-19  -99
0  1893-01-20  -99
0  1893-01-21  -99
0  1893-01-22  -99
0  1893-01-23  -99
0  1893-01-24  -99
0  1893-01-25  -99
0  1893-01-26  -99
0  1893-01-27  -99
0  1893-01-28  -99
0  1893-01-29  -99
0  1893-01-30  -99
..        ...  ...
0  2012-12-02   31
0  2012-12-03   32
0  2012-12-04   25
0  2012-12-05   16
0  2012-12-06   33
0  2012-12-07   31
0  2012-12-08   19
0  2012-12-09   32
0  2012-12-10   17
0  2012-12-11    6
0  2012-12-12   18
0  2012-12-13   33
0  2012-12-14   19
0  2012-12-15   38
0  2012-12-16   30
0  2012-12-17   20
0  2012-12-18   21
0  2012-12-19   29
0  2012-12-20   26
0  2012-12-21   10
0  2012-12-22    1
0  2012-12-23    6
0  2012-12-24   10
0  2012-12-25    1
0  2012-12-26    2
0  2012-12-27   -2
0  2012-12-28   21
0  2012-12-29   11
0  2012-12-30   -2
0  2012-12-31   13

[43890 rows x 2 columns]

In [9]:
highsandlows = pd.merge(highs,lows,on='date')

In [10]:
highsandlows

            date  high  low
0     1893-01-01   -99  -99
1     1893-01-02   -99  -99
2     1893-01-03   -99  -99
3     1893-01-04   -99  -99
4     1893-01-05   -99  -99
5     1893-01-06   -99  -99
6     1893-01-07   -99  -99
7     1893-01-08   -99  -99
8     1893-01-09   -99  -99
9     1893-01-10   -99  -99
10    1893-01-11   -99  -99
11    1893-01-12   -99  -99
12    1893-01-13   -99  -99
13    1893-01-14   -99  -99
14    1893-01-15   -99  -99
15    1893-01-16   -99  -99
16    1893-01-17   -99  -99
17    1893-01-18   -99  -99
18    1893-01-19   -99  -99
19    1893-01-20   -99  -99
20    1893-01-21   -99  -99
21    1893-01-22   -99  -99
22    1893-01-23   -99  -99
23    1893-01-24   -99  -99
24    1893-01-25   -99  -99
25    1893-01-26   -99  -99
26    1893-01-27   -99  -99
27    1893-01-28   -99  -99
28    1893-01-29   -99  -99
29    1893-01-30   -99  -99
...          ...   ...  ...
43860 2012-12-02    51   31
43861 2012-12-03    65   32
43862 2012-12-04    61   25
43863 2012-12-05    43   16
43864 2012-12-06    46   33
43865 2012-12-07    45   31
43866 2012-12-08    39   19
43867 2012-12-09    39   32
43868 2012-12-10    32   17
43869 2012-12-11    27    6
43870 2012-12-12    45   18
43871 2012-12-13    44   33
43872 2012-12-14    46   19
43873 2012-12-15    44   38
43874 2012-12-16    42   30
43875 2012-12-17    30   20
43876 2012-12-18    31   21
43877 2012-12-19    34   29
43878 2012-12-20    33   26
43879 2012-12-21    26   10
43880 2012-12-22    32    1
43881 2012-12-23    30    6
43882 2012-12-24    23   10
43883 2012-12-25    20    1
43884 2012-12-26    22    2
43885 2012-12-27    24   -2
43886 2012-12-28    26   21
43887 2012-12-29    24   11
43888 2012-12-30    25   -2
43889 2012-12-31    22   13

[43890 rows x 3 columns]

In [11]:
precips = pd.DataFrame(columns=('date','pre'))

In [12]:
for m in range(1,13):
    if m < 10:
        precip = pd.read_table('shtpre0'+str(m)+'.txt',sep="\s+",header=None)
        monthstr = '0'+str(m)
    else:
        low = pd.read_table('shtpre'+str(m)+'.txt',sep="\s+",header=None)
        monthstr = str(m)

    for (i,row) in precip.iterrows():
        year = row[0]
        day = 0
        for c in row:
            if day > 0:
                if day < 10:
                    daystr = '0' + str(day)
                else:
                    daystr = str(day)

                date = pd.to_datetime(str(year)+monthstr+daystr,format="%Y%m%d")
                newrow = pd.DataFrame({'date':[date],'pre':[c]})
                precips = pd.concat([precips,newrow])
            day += 1

In [41]:
precips

         date   pre
0  1893-01-01 -9900
0  1893-01-02 -9900
0  1893-01-03 -9900
0  1893-01-04 -9900
0  1893-01-05 -9900
0  1893-01-06 -9900
0  1893-01-07 -9900
0  1893-01-08 -9900
0  1893-01-09 -9900
0  1893-01-10 -9900
0  1893-01-11 -9900
0  1893-01-12 -9900
0  1893-01-13 -9900
0  1893-01-14 -9900
0  1893-01-15 -9900
0  1893-01-16 -9900
0  1893-01-17 -9900
0  1893-01-18 -9900
0  1893-01-19 -9900
0  1893-01-20 -9900
0  1893-01-21 -9900
0  1893-01-22 -9900
0  1893-01-23 -9900
0  1893-01-24 -9900
0  1893-01-25 -9900
0  1893-01-26 -9900
0  1893-01-27 -9900
0  1893-01-28 -9900
0  1893-01-29 -9900
0  1893-01-30 -9900
..        ...   ...
0  2012-12-01     0
0  2012-12-02     0
0  2012-12-03    33
0  2012-12-04     4
0  2012-12-05   148
0  2012-12-06     0
0  2012-12-07     1
0  2012-12-08     0
0  2012-12-09     0
0  2012-12-10     0
0  2012-12-11     0
0  2012-12-12     0
0  2012-12-13    78
0  2012-12-14     0
0  2012-12-15     0
0  2012-12-16     0
0  2012-12-17     7
0  2012-12-18     0
0  2012-12-19     0
0  2012-12-20     0
0  2012-12-21    18
0  2012-12-22     5
0  2012-12-23     0
0  2012-12-24     0
0  2012-12-25     0
0  2012-12-26     0
0  2012-12-27     0
0  2012-12-28     0
0  2012-12-29     0
0  2012-12-30     0

[43650 rows x 2 columns]

In [13]:
snows = pd.DataFrame(columns=('date','snow'))

In [14]:
for m in range(1,13):
    if m < 10:
        snow = pd.read_table('shtsno_b0'+str(m)+'.txt',sep="\s+",header=None)
        monthstr = '0'+str(m)
    else:
        snow = pd.read_table('shtsno_b'+str(m)+'.txt',sep="\s+",header=None)
        monthstr = str(m)

    for (i,row) in snow.iterrows():
        year = row[0]
        day = 0
        for c in row:
            if day > 0:
                if day < 10:
                    daystr = '0' + str(day)
                else:
                    daystr = str(day)

                date = pd.to_datetime(str(year)+monthstr+daystr,format="%Y%m%d")
                newrow = pd.DataFrame({'date':[date],'snow':[c]})
                snows = pd.concat([snows,newrow])
            day += 1

In [47]:
snows[(snows.date.dt.year == 2011) & (snows.date.dt.month == 12)]

Empty DataFrame
Columns: [date, snow]
Index: []

In [15]:
precipsandsnows = pd.merge(precips,snows,on='date')

In [49]:
precipsandsnows

            date   pre  snow
0     1893-01-01 -9900     0
1     1893-01-02 -9900     0
2     1893-01-03 -9900     0
3     1893-01-04 -9900     0
4     1893-01-05 -9900     0
5     1893-01-06 -9900     0
6     1893-01-07 -9900     0
7     1893-01-08 -9900     0
8     1893-01-09 -9900     0
9     1893-01-10 -9900     0
10    1893-01-11 -9900     0
11    1893-01-12 -9900     0
12    1893-01-13 -9900     0
13    1893-01-14 -9900     0
14    1893-01-15 -9900     0
15    1893-01-16 -9900     0
16    1893-01-17 -9900     0
17    1893-01-18 -9900     0
18    1893-01-19 -9900     0
19    1893-01-20 -9900     0
20    1893-01-21 -9900     0
21    1893-01-22 -9900     0
22    1893-01-23 -9900     0
23    1893-01-24 -9900     0
24    1893-01-25 -9900     0
25    1893-01-26 -9900     0
26    1893-01-27 -9900     0
27    1893-01-28 -9900     0
28    1893-01-29 -9900     0
29    1893-01-30 -9900     0
...          ...   ...   ...
42804 2009-12-01     0     0
42805 2009-12-02     0     0
42806 2009-12-03     0     0
42807 2009-12-04     0     0
42808 2009-12-05     0     0
42809 2009-12-06     0     1
42810 2009-12-07     0     1
42811 2009-12-08     0    12
42812 2009-12-09     0     0
42813 2009-12-10     0     0
42814 2009-12-11     0     0
42815 2009-12-12     0     0
42816 2009-12-13     0     0
42817 2009-12-14     0     1
42818 2009-12-15     0     0
42819 2009-12-16     0     0
42820 2009-12-17     0     0
42821 2009-12-18     0     0
42822 2009-12-19     0     0
42823 2009-12-20     0     0
42824 2009-12-21     0     0
42825 2009-12-22    18     4
42826 2009-12-23     0     0
42827 2009-12-24     0     3
42828 2009-12-25    84     0
42829 2009-12-26     0     0
42830 2009-12-27    14     0
42831 2009-12-28     0     0
42832 2009-12-29     0     0
42833 2009-12-30     0     1

[42834 rows x 3 columns]

In [16]:
weather = pd.merge(highsandlows,precipsandsnows,on='date')

In [17]:
weather

            date  high  low   pre  snow
0     1893-01-01   -99  -99 -9900     0
1     1893-01-02   -99  -99 -9900     0
2     1893-01-03   -99  -99 -9900     0
3     1893-01-04   -99  -99 -9900     0
4     1893-01-05   -99  -99 -9900     0
5     1893-01-06   -99  -99 -9900     0
6     1893-01-07   -99  -99 -9900     0
7     1893-01-08   -99  -99 -9900     0
8     1893-01-09   -99  -99 -9900     0
9     1893-01-10   -99  -99 -9900     0
10    1893-01-11   -99  -99 -9900     0
11    1893-01-12   -99  -99 -9900     0
12    1893-01-13   -99  -99 -9900     0
13    1893-01-14   -99  -99 -9900     0
14    1893-01-15   -99  -99 -9900     0
15    1893-01-16   -99  -99 -9900     0
16    1893-01-17   -99  -99 -9900     0
17    1893-01-18   -99  -99 -9900     0
18    1893-01-19   -99  -99 -9900     0
19    1893-01-20   -99  -99 -9900     0
20    1893-01-21   -99  -99 -9900     0
21    1893-01-22   -99  -99 -9900     0
22    1893-01-23   -99  -99 -9900     0
23    1893-01-24   -99  -99 -9900     0
24    1893-01-25   -99  -99 -9900     0
25    1893-01-26   -99  -99 -9900     0
26    1893-01-27   -99  -99 -9900     0
27    1893-01-28   -99  -99 -9900     0
28    1893-01-29   -99  -99 -9900     0
29    1893-01-30   -99  -99 -9900     0
...          ...   ...  ...   ...   ...
43620 2012-12-01    46   35     0     0
43621 2012-12-02    51   31     0     0
43622 2012-12-03    65   32    33     0
43623 2012-12-04    61   25     4     0
43624 2012-12-05    43   16   148     0
43625 2012-12-06    46   33     0     0
43626 2012-12-07    45   31     1     0
43627 2012-12-08    39   19     0     0
43628 2012-12-09    39   32     0     2
43629 2012-12-10    32   17     0     0
43630 2012-12-11    27    6     0     0
43631 2012-12-12    45   18     0     0
43632 2012-12-13    44   33    78     0
43633 2012-12-14    46   19     0     0
43634 2012-12-15    44   38     0     0
43635 2012-12-16    42   30     0     0
43636 2012-12-17    30   20     7     0
43637 2012-12-18    31   21     0     1
43638 2012-12-19    34   29     0     0
43639 2012-12-20    33   26     0     5
43640 2012-12-21    26   10    18     0
43641 2012-12-22    32    1     5     0
43642 2012-12-23    30    6     0     0
43643 2012-12-24    23   10     0     0
43644 2012-12-25    20    1     0     0
43645 2012-12-26    22    2     0     0
43646 2012-12-27    24   -2     0     0
43647 2012-12-28    26   21     0     2
43648 2012-12-29    24   11     0     1
43649 2012-12-30    25   -2     0     0

[43650 rows x 5 columns]

In [18]:
weather.to_csv('weather.csv')